<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
<h1>Hello Hammed, We're getting married soon</h1>
<style>
    .topnav a {
/* display: flex; */
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}

div {
  background-image: image("./");
}


</style>
<div class="topnav">
    <a class="active" href="#home">HOME</a>
    <a href="#">ABOUT</a>
    <a href="#contact">CONTACT</a>
    <a href="#about">PRODUCTS</a>
    <a href="#news">SERVICES</a>
    <a href="#contact">ACADEMY</a>
    <a href="#about">CAREERS</a>
    <a href="#about">BLOG</a>
    <a href="#about">CONTACT</a>

</div>


</body>
</html>